/*-----------------------------
    Animation
-----------------------------*/

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}}

@-webkit-keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}}

@keyframes slide-down {
    from {transform: translateY(-2rem);}
    to {transform: translateY(0);}}

@-webkit-keyframes slide-down {
    from {-webkit-transform: translateY(-2rem);}
    to {-webkit-transform: translateY(0);}}

/*-----------------------------
    Base
-----------------------------*/

h1,
h2,
h3 {
    font-family: 'proxima-nova',sans-serif;
    color: #555555;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    color: #ccc;
    font-size: 16px;
}

body {
    background: white;
    font-family: 'proxima-nova',sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0 auto;
    width: 90%;
    -webkit-font-smoothing: antialiased;
}

p {
    color: #555555;
    line-height: 1.5em;
}

ul {
    padding-top: 2em;
    list-style-type: none;
    line-height: 1.75em;
    color: #555555;
}

footer {
    font-family: 'proxima-nova',sans-serif;
    margin: auto;
    line-height: 2em;
    text-align: center;
    padding-bottom: 1em;
    padding-top: .5em;
    letter-spacing: .1em;
}


.footer-content {
    color: #a2a2a2;
    font-size: .75em;
    padding-top: 50px;
    padding-bottom: 50px;
}

footer a{
    color: #000000;
    text-decoration: none;
}

footer img{
    text-align: center;
}

.pricing-wrap {
    background: #F5F5F5;
    position: relative;
    padding: 10%;
    margin-top: 10px;
}

.pricing-wrap img {
    width: 100%;
    border-radius: 50%;
}

  .button,
  button {
    background: transparent;
    border: 2px solid #BCAA55;
    color: #BCAA55;
    cursor: pointer;
    display: inline-block;
    font-family: "Montserrat";
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.5px;
    min-width: 200px;
    outline:none;
    padding: 13px 48px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
  /*  width: 100%;*/
    -webkit-transition: all .2s ease 0;
    -moz-transition: all .2s ease 0;
    -ms-transition: all .2s ease 0;
    -o-transition: all .2s ease 0;
    transition: all .2s ease 0;
  }


.button:hover,
  button:hover {
    background-color: #BCAA55;
    border: 2px solid #BCAA55;
    color: #ffffff;
  }



  .button:active,
  button:active {
   background: transparent;
    border: 2px solid #BCAA55;
    color: #BCAA55;
  }

/*-----------------------------
    Navigation
-----------------------------*/

header {
    margin: 0 auto;
    padding: 0 10px;
    height: 10rem;
    line-height: 10.3rem;
    z-index: 1000;
    position: relative;
    -webkit-animation: fade-in 750ms ease-out, slide-down 750ms ease-out;
    animation: fade-in 750ms ease-out, slide-down 750ms ease-out;
}

.logo a {
    font-family: 'proxima-nova',sans-serif;
    font-weight: 400;
    color: #555;
    text-transform: uppercase;
    letter-spacing: .25rem;
    float: left;
    text-decoration: none;
}

.lightgray { color: #ccc; }

.navicon { display: none; }

nav ul { text-align: right; }

nav li {
    display: inline;
    margin-left: 1.25rem;
}

a {
    font-family: 'proxima-nova',sans-serif;
    font-weight: 700;
}

a,
.navicon {
    color: #ccc;
    fill: #ccc;
    text-decoration: none;
    transition: color 500ms ease,
                fill 500ms ease;
    cursor: pointer;
}

a:hover,
.navicon:hover {
  color: #BBA95B;
  fill: #BBA95B;
}


nav a.current {
    color: #555;
    pointer-events: none;
}

.sidr .current {
    color: #B6B076;
}

/*-----------------------------
    Grid
-----------------------------*/

#grid {
    position: relative;
    width: 100%;
}

#grid li {
    display: block;
    list-style: none;
    padding: .625rem;
    width: 20%;
    transition: left 350ms cubic-bezier(.4,-0.4,.4,1.4);
}

#grid li img {
    display: block; /* to remove default inline-block line-height */
    height: auto;
    width: 100%;
}

/*-----------------------------
    Media Queries
-----------------------------*/

@media only screen and (max-width: 669px) {

    body {
        width: 100% !important;
        padding: 0 1.25rem;
    }

    header {
        height: 4.5em !important;
        line-height: 5rem !important;
        padding: 0;
    }

    #navigation { display: none; }

    #grid li > a {
       pointer-events: none;
       cursor: default;
       -webkit-touch-callout: none;
       -webkit-appearance: none;
       -webkit-user-select: none;
    }

    #grid li {
        position: static !important;
        width: 100% !important;
        padding: 10px 0;
    }
}

@media only screen and (max-width: 1005px) {

    .lightgray { display: none; }

    i { display: block; }

    .navicon {
        vertical-align: middle;
        display: inline-block;
        float: right;
        margin-top: 1px;
        padding: 1rem;
        margin: -1rem;
    }

    #navigation { display: none; }
}


@media only screen and (min-width: 670px) {
    header { width: 600px; }
}

@media only screen and (min-width: 1005px) and (max-width: 1340px) {
    header { width: 910px; }
    .logo a { font-size: .85rem; }
    nav { font-size: .95rem; }
}

@media only screen and (min-width: 1340px) {
    header { width: 1210px; }
}

@media only screen and (min-width: 1675px) {
    header { width: 100%; }
}
