@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    src: url('Montserrat-bold.eot');
    src: url('Montserrat-bold.eot') format('embedded-opentype'),
         url('Montserrat-bold.woff') format('woff'),
         url('Montserrat-bold.ttf') format('truetype'),
         url('Montserrat-bold.svg#MontserratBold') format('svg');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 300;
    src: url('Montserrat-light.eot');
    src: url('Montserrat-light.eot') format('embedded-opentype'),
         url('Montserrat-light.woff') format('woff'),
         url('Montserrat-light.ttf') format('truetype'),
         url('Montserrat-light.svg#MontserratLight') format('svg');
}
